@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

body {
    background-color: #edeff0;
}

span {
    color: #F30;
}

html {
    min-width: 400px;
}

#root {
    min-width: 400px;
    font-family: 'Montserrat' , sans-serif;
}